m.conf
/etc/devnet/*
/etc/mainnet/*
!/etc/devnet/daemon.json.example
!/etc/mainnet/daemon.json.example
/keys/*
!/keys/.keep
/.mina-config/devnet/*
/.mina-config/mainnet/*
!/.mina-config/devnet/.keep
!/.mina-config/mainnet/.keep
/db/*
!/db/grafana/.keep
/etc/postgresql/*
!/etc/postgresql/.keep
/etc/snark-stopper/*
!/etc/snark-stopper/config.yml.example
/logs/*
!/logs/.keep
