m.conf
/etc/mainnet/*
!/etc/mainnet/daemon.json.example
/keys/*
!/keys/.keep
/.mina-config/mainnet/*
!/.mina-config/mainnet/.keep
/db/grafana/*
!/db/grafana/.keep
/etc/postgresql/*
/etc/dashboard/prometheus
/db/postgresql
!/etc/postgresql/.keep
/etc/snark-stopper/*
!/etc/snark-stopper/config.yml.example
/logs/*
!/logs/.keep
